In [2]:
import pyspark
import pandas as pd

In [14]:
df = pd.read_csv('test1.csv')

In [15]:
type(df)

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [11]:
df_pyspark = spark.read.csv('tips.csv',header=True)

#or
# spark.read.option('header','true').csv('tips.csv)

In [12]:
df_pyspark

DataFrame[total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
#Selecting Columns & Indexing
df_pyspark.head(3)

[Row(total_bill='16.99', tip='1.01', sex='Female', smoker='No', day='Sun', time='Dinner', size='2'),
 Row(total_bill='10.34', tip='1.66', sex='Male', smoker='No', day='Sun', time='Dinner', size='3'),
 Row(total_bill='21.01', tip='3.5', sex='Male', smoker='No', day='Sun', time='Dinner', size='3')]

In [23]:
#Select specific column
df_pyspark.select('total_bill').show(4)

+----------+
|total_bill|
+----------+
|     16.99|
|     10.34|
|     21.01|
|     23.68|
+----------+
only showing top 4 rows

In [24]:
type(df_pyspark.select('total_bill'))

pyspark.sql.dataframe.DataFrame

In [25]:
#Select multiple columns
df_pyspark.select(['total_bill','tip']).show(4)

+----------+----+
|total_bill| tip|
+----------+----+
|     16.99|1.01|
|     10.34|1.66|
|     21.01| 3.5|
|     23.68|3.31|
+----------+----+
only showing top 4 rows

In [26]:
#Data types
df_pyspark.dtypes

[('total_bill', 'string'),
 ('tip', 'string'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'string')]

In [27]:
df_pyspark.describe().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950824|2.9982786885245902|  NULL|  NULL|NULL|  NULL| 2.569672131147541|
| stddev| 8.902411954856857|1.3836381890011815|  NULL|  NULL|NULL|  NULL|0.9510998047322347|
|    min|             10.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    max|              9.94|               9.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [46]:
df_pyspark2 = spark.read.csv('test1.csv',header=True)

In [47]:
#Adding Columns 
df_pyspark2 = df_pyspark2.withColumn('Experience After 2 years', df_pyspark2['Experience']+2)

In [48]:
df_pyspark2.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience After 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                    12.0|
|Sudhanshu| 30|         8| 25000|                    10.0|
|    Sunny| 29|         4| 20000|                     6.0|
|     Paul| 24|         3| 20000|                     5.0|
|   Harsha| 21|         1| 15000|                     3.0|
|  Shubham| 23|         2| 18000|                     4.0|
+---------+---+----------+------+------------------------+

In [49]:
#Dropping Columns
df_pyspark2 = df_pyspark2.drop('Experience After 2 years')

In [50]:
df_pyspark2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [51]:
# Rename the columns
df_pyspark2.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+