In [1]:
import sqlalchemy
from sqlalchemy import create_engine
%reload_ext sql
%sql postgresql://postgres:4901@localhost/opstrans
engine = create_engine('postgresql://postgres:4901@localhost/opstrans')

Connecting to 'postgresql://postgres:***@localhost/opstrans'

In [2]:
%%sql 

SELECT *
FROM transactions
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+
| index | workstationgroupid |       tranid      |        start        |       end_time      | opid | duration | break | basket_size | cash |  card | amount |
+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+
|   0   |         1          | 171207106022464.0 | 2017-12-07T14:23:23 | 2017-12-07T14:24:36 | 101  |    73    |   33  |      23     | True | False | 112.71 |
+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+

In [3]:
%%sql

SELECT *
FROM oplogs
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+-------+--------------------+---------------+---------------+---------------------+------+----------------+
| index | workstationgroupid | workstationid |     tranid    |      start_time     | opid |     opstat     |
+-------+--------------------+---------------+---------------+---------------------+------+----------------+
|   0   |         8          |       16      | 1712071060162 | 2017-12-07T06:04:01 | 266  | OperatorSignOn |
+-------+--------------------+---------------+---------------+---------------------+------+----------------+

##### CASH OR CREDIT?

In [4]:
%%sql
SELECT ROUND(AVG(
    CASE WHEN cash = 'True' THEN 1 ELSE 0 END),2) AS cash,
    ROUND(AVG(
        CASE WHEN card = 'True' THEN 1 ELSE 0 END),2) AS card
FROM transactions
WHERE card IS NOT NULL OR CASH IS NOT NULL;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+------+------+
| cash | card |
+------+------+
| 0.52 | 0.48 |
+------+------+

#### DO PEOPLE SPEND MORE ON CASH OR CREDIT?

In [5]:
%%sql
SELECT ROUND(AVG(CASE WHEN card AND NOT cash THEN amount::INT ELSE 0 END),2) AS card_average,
ROUND(AVG(CASE WHEN cash AND NOT card THEN amount::INT ELSE 0 END),2) AS cash_average
FROM transactions
WHERE card IS NOT NULL OR CASH IS NOT NULL;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+--------------+--------------+
| card_average | cash_average |
+--------------+--------------+
|    41.24     |    30.13     |
+--------------+--------------+

##### Exploring Sunday Trading

In [6]:
%config SqlMagic.named_parameters="disabled"

In [7]:
%%sql

SELECT 
DISTINCT(DATE_PART('week', end_time::DATE)) AS week_num,
end_time::DATE AS end_date
FROM transactions
WHERE EXTRACT ('YEAR' FROM end_time::DATE) >= '2019'
AND end_time::DATE IN ('2019-02-17','2019-02-24','2019-03-31','2019-04-07')
GROUP BY end_time

Running query in 'postgresql://postgres:***@localhost/opstrans'

2 rows affected.

+----------+------------+
| week_num |  end_date  |
+----------+------------+
|   8.0    | 2019-02-24 |
|   13.0   | 2019-03-31 |
+----------+------------+

#### WEEKLY TREND ANALYSIS

In [8]:
%%sql

SELECT 
DATE_PART('WEEK',end_time::DATE) AS week_num,
COUNT(tranid) AS total_transactions,
ROUND(SUM(amount::DECIMAL),2) AS total_sales,
ROUND(AVG(amount::DECIMAL),2) AS avg_sales
FROM transactions
WHERE EXTRACT('Year' FROM end_time::DATE) = '2019'
GROUP BY week_num

Running query in 'postgresql://postgres:***@localhost/opstrans'

6 rows affected.

+----------+--------------------+-------------+-----------+
| week_num | total_transactions | total_sales | avg_sales |
+----------+--------------------+-------------+-----------+
|   7.0    |       16267        |  1216048.17 |   74.76   |
|   8.0    |       24744        |  1686485.72 |   68.16   |
|   9.0    |        6055        |  328324.57  |   54.22   |
|   13.0   |       15054        |  1183248.45 |   78.60   |
|   14.0   |       23768        |  1690989.87 |   71.15   |
|   15.0   |       10518        |  697724.61  |   66.34   |
+----------+--------------------+-------------+-----------+

#### BASKET SIZE ANALYSIS

In [9]:
%%sql

SELECT 
DATE_PART('WEEK',end_time::DATE) AS week_num,
ROUND(AVG(basket_size),2) as avg_basket_size,
PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY basket_size) as median_basket_size
FROM transactions
WHERE EXTRACT('Year' FROM end_time::DATE) = '2019'
GROUP BY week_num

Running query in 'postgresql://postgres:***@localhost/opstrans'

6 rows affected.

+----------+-----------------+--------------------+
| week_num | avg_basket_size | median_basket_size |
+----------+-----------------+--------------------+
|   7.0    |      16.27      |        11.0        |
|   8.0    |      16.09      |        11.0        |
|   9.0    |      13.37      |        10.0        |
|   13.0   |      17.85      |        12.0        |
|   14.0   |      16.76      |        11.0        |
|   15.0   |      15.73      |        11.0        |
+----------+-----------------+--------------------+

#### OPEN ON SUNDAYS?
Let's investigate if there is much difference between the total sales made in a working sunday week and a non-working sunday week.

In [10]:
%%sql

SELECT 
DATE_PART('WEEK',end_time::DATE) AS week_num,
ROUND(SUM(amount::DECIMAL),2) AS total_sales
FROM transactions
WHERE EXTRACT('Year' FROM end_time::DATE) = '2019' AND (DATE_PART('WEEK',end_time::DATE) IN (8.0, 14.0))
GROUP BY week_num

Running query in 'postgresql://postgres:***@localhost/opstrans'

2 rows affected.

+----------+-------------+
| week_num | total_sales |
+----------+-------------+
|   8.0    |  1686485.72 |
|   14.0   |  1690989.87 |
+----------+-------------+

#### LABOUR COST SAVINGS ON SUNDAYS
Since the difference between opening on a Sunday and not opening on a Sunday, we now assess the savings from closing the store on a Sunday.
13 different operators worked on the one working Sunday (2019-02-24). If these operators spent 10 hours each and were paid minimum wage of $16, the company can now save
approximately 13 * 10 * 16.

In [12]:
%%sql

SELECT COUNT(DISTINCT opid)
FROM transactions
WHERE EXTRACT('Year' FROM end_time::DATE) = '2019' AND end_time::DATE = '2019-02-24';

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+-------+
| count |
+-------+
|   13  |
+-------+