In [1]:
import sqlalchemy
from sqlalchemy import create_engine
%reload_ext sql
%sql postgresql://postgres:4901@localhost/opstrans
engine = create_engine('postgresql://postgres:4901@localhost/opstrans')

Connecting to 'postgresql://postgres:***@localhost/opstrans'

In [2]:
%%sql 

SELECT *
FROM transactions
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+
| index | workstationgroupid |       tranid      |        start        |       end_time      | opid | duration | break | basket_size | cash |  card | amount |
+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+
|   0   |         1          | 171207106022464.0 | 2017-12-07T14:23:23 | 2017-12-07T14:24:36 | 101  |    73    |   33  |      23     | True | False | 112.71 |
+-------+--------------------+-------------------+---------------------+---------------------+------+----------+-------+-------------+------+-------+--------+

In [3]:
%%sql

SELECT *
FROM oplogs
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+-------+--------------------+---------------+---------------+---------------------+------+----------------+
| index | workstationgroupid | workstationid |     tranid    |        start        | opid |     opstat     |
+-------+--------------------+---------------+---------------+---------------------+------+----------------+
|   0   |         8          |       16      | 1712071060162 | 2017-12-07T06:04:01 | 266  | OperatorSignOn |
+-------+--------------------+---------------+---------------+---------------------+------+----------------+

##### CASH OR CREDIT?

In [4]:
%%sql
SELECT ROUND(AVG(
    CASE WHEN cash = 'True' THEN 1 ELSE 0 END),2) AS cash,
    ROUND(AVG(
        CASE WHEN card = 'True' THEN 1 ELSE 0 END),2) AS card
FROM transactions
WHERE card IS NOT NULL OR CASH IS NOT NULL;

Running query in 'postgresql://postgres:***@localhost/opstrans'

1 rows affected.

+------+------+
| cash | card |
+------+------+
| 0.52 | 0.48 |
+------+------+

##### Exploring Sunday Trading

In [5]:
%config SqlMagic.named_parameters="disabled"

In [39]:
%%sql

SELECT 
DISTINCT(DATE_PART('week', end_time::DATE)) AS week_num,
end_time::DATE AS end_date
FROM transactions
WHERE EXTRACT ('YEAR' FROM end_time::DATE) >= '2019'
AND end_time::DATE IN ('2019-02-17','2019-02-24','2019-03-31','2019-04-07')
GROUP BY end_time

Running query in 'postgresql://postgres:***@localhost/opstrans'

2 rows affected.

+----------+------------+
| week_num |  end_date  |
+----------+------------+
|   8.0    | 2019-02-24 |
|   13.0   | 2019-03-31 |
+----------+------------+