In [5]:
import pandas as pd
import openpyxl

In [9]:
june = pd.read_excel('202206-divvy-tripdata.xlsx')
july = pd.read_excel('202207-divvy-tripdata.xlsx')
august = pd.read_excel('202208-divvy-tripdata.xlsx')
september = pd.read_excel('202209-divvy-publictripdata.xlsx')
october = pd.read_excel('202210-divvy-tripdata.xlsx')
november = pd.read_excel('202211-divvy-tripdata.xlsx')
december = pd.read_excel('202212-divvy-tripdata.xlsx')
january = pd.read_excel('202301-divvy-tripdata.xlsx')
february = pd.read_excel('202302-divvy-tripdata.xlsx')
march = pd.read_excel('202303-divvy-tripdata.xlsx')
april = pd.read_excel('202304-divvy-tripdata.xlsx')
may = pd.read_excel('202305-divvy-tripdata.xlsx')

In [14]:
final = pd.concat([june,july,august,september,october,november,december,january,february,march,april,may],axis=0)
final

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_the week,day_of_week
0,600CFD130D0FD2A4,electric_bike,2022-06-30 17:27:53,2022-06-30 17:35:15,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.91,-87.62,casual,00:07:22,5.0,NaN
1,F5E6B5C1682C6464,electric_bike,2022-06-30 18:39:52,2022-06-30 18:47:28,NaN,NaN,NaN,NaN,41.910000,-87.620000,41.93,-87.63,casual,00:07:36,5.0,NaN
2,B6EB6D27BAD771D2,electric_bike,2022-06-30 11:49:25,2022-06-30 12:02:54,NaN,NaN,NaN,NaN,41.910000,-87.650000,41.89,-87.61,casual,00:13:29,5.0,NaN
3,C9C320375DE1D5C6,electric_bike,2022-06-30 11:15:25,2022-06-30 11:19:43,NaN,NaN,NaN,NaN,41.800000,-87.660000,41.80,-87.65,casual,00:04:18,5.0,NaN
4,56C055851023BE98,electric_bike,2022-06-29 23:36:50,2022-06-29 23:45:17,NaN,NaN,NaN,NaN,41.910000,-87.630000,41.93,-87.64,casual,00:08:27,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604822,48BDA26F34445546,electric_bike,2023-05-18 10:26:43,2023-05-18 10:48:00,Clark St & Elmdale Ave,KA1504000148,NaN,NaN,41.990876,-87.669721,42.00,-87.66,member,00:21:17,NaN,5.0
604823,573025E5EDE10DE1,electric_bike,2023-05-17 14:32:48,2023-05-17 14:45:37,State St & 33rd St,13216,NaN,NaN,41.834734,-87.625798,41.83,-87.62,member,00:12:49,NaN,4.0
604824,D88D48898C6FB63E,electric_bike,2023-05-17 07:59:29,2023-05-17 08:04:54,Columbus Dr & Randolph St,13263,NaN,NaN,41.884422,-87.619393,41.88,-87.63,member,00:05:25,NaN,4.0
604825,4692DCD2F87497F5,electric_bike,2023-05-18 08:34:48,2023-05-18 08:38:40,Public Rack - Karlov Ave & Lawrence Ave,1127,NaN,NaN,41.970000,-87.730000,41.97,-87.74,member,00:03:52,NaN,5.0
604826,6ACB7E383473D019,electric_bike,2023-05-29 21:16:58,2023-05-29 21:24:35,State St & 33rd St,13216,NaN,NaN,41.834715,-87.625764,41.84,-87.65,member,00:07:37,NaN,2.0

In [16]:
cyclicist_final = final.to_csv('cylicist.csv')