<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

'wget' is not recognized as an internal or external command,
operable program or batch file.

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
def extract():
    # Write your code here
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        extracted_data=extract_from_json(jsonfile)
        
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [6]:
# Write your code here
exchange_rates = pd.read_csv('exchange_rates_1.csv',index_col= 1)
exchange_rate = exchange_rates.loc['GBP']
exchange_rate

Unnamed: 0    49.000000
Rates          0.866055
Name: GBP, dtype: float64

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [7]:
bank_market_cap = extract_from_json('bank_market_cap.json')
bank_market_cap.head()

   Rank                                 Bank Name  Market Cap($US)
0     1                            JPMorgan Chase          390.934
1     2   Industrial and Commercial Bank of China          345.214
2     3                           Bank of America          325.331
3     4                               Wells Fargo          308.013
4     5                   China Construction Bank          257.399

In [8]:
def transform(currency1,currency2):
    # USD - US DOLLAR, GBP - BRITISH POUND
    currency1 = 'USD'
    currency2 = 'GBP'
    US_exchange_rate = exchange_rates.loc[currency1]['Rates']
    GBP_exchange_rate = exchange_rates.loc[currency2]['Rates']
    bank_market_cap['Market Cap($US)'] = bank_market_cap['Market Cap($US)']*US_exchange_rate*GBP_exchange_rate
    bank_market_cap['Market Cap($US)'] = bank_market_cap['Market Cap($US)'].round(3)
    bank_market_cap.rename(columns={'Market Cap($US)':'Market Cap(GBP$ Billion)'},inplace=True)
    return bank_market_cap

In [166]:
#Run the code below just once
bank_market_cap_gbp = transform('USD','GBP')
bank_market_cap_gbp.head()

   Rank                                 Bank Name  Market Cap(GBP$ Billion)
0     1                            JPMorgan Chase                   358.902
1     2   Industrial and Commercial Bank of China                   316.928
2     3                           Bank of America                   298.674
3     4                               Wells Fargo                   282.775
4     5                   China Construction Bank                   236.308

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [9]:
def load(dataframe):
    dataframe.to_csv('bank_market_cap_gbp.csv',index=False)

In [104]:
load(bank_market_cap_gbp)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [10]:
def log(message):
    # Write your code here
    timestamp_format='%Y-%h-%d-%H%M%S'
    now=datetime.now()
    timestamp=now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp+','+message+'\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [11]:
# Write your code here
log("ETL Job Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
log('Extract Phase Started')
# Print the rows here
extract_data = extract()
extract_data.head()

   Rank                                 Bank Name  Market Cap($US)
0     1                            JPMorgan Chase          390.934
1     2   Industrial and Commercial Bank of China          345.214
2     3                           Bank of America          325.331
3     4                               Wells Fargo          308.013
4     5                   China Construction Bank          257.399

Log the data as <code>"Extract phase Ended"</code>

In [13]:
# Write your code here
log('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [14]:
# Write your code here
log('Transform Phase Started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [15]:
# Call the function here
transformed_data = transform('USD','GBP')
# Print the first 5 rows here
transformed_data.head()

   Rank                                 Bank Name  Market Cap(GBP$ Billion)
0     1                            JPMorgan Chase                   358.902
1     2   Industrial and Commercial Bank of China                   316.928
2     3                           Bank of America                   298.674
3     4                               Wells Fargo                   282.775
4     5                   China Construction Bank                   236.308

Log your data <code>"Transform phase Ended"</code>

In [16]:
# Write your code here
log('Transform Phase Ended')

### Load

Log the following `"Load phase Started"`.

In [17]:
# Write your code here
log('Load Phase Started')

Call the load function

In [19]:
# Write your code here
load(transformed_data)

Log the following `"Load phase Ended"`.

In [20]:
# Write your code here
log('Load Phase Ended')

## Authors

Spencer Brian Baiden

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).