In [145]:
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, Table, MetaData, select

In [146]:
# Use environment variables to get password
password = os.getenv('password')

In [147]:
df = pd.read_csv('world_population.csv')
df.head(2)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04

In [148]:
#Connect to postgres database
host = 'localhost'
database  = 'postgres'
user = 'postgres'
port = '5432'

#Connect to the PostgreSql server
conn = psycopg2.connect(host=host,
                         database=database,
                         user=user,
                         password=password,
                         port=port)

# Set isolation level to autocommit
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)

cursor = conn.cursor()

In [149]:
# Create New Database for Population Dataset
cursor.execute("CREATE DATABASE population")
conn.commit()
cursor.close()
conn.close()

In [150]:
# Create a SQLAlchemy engine
database = 'population'
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')

In [151]:
table_name = 'population_data'
df.to_sql(table_name,engine,index=False, if_exists='replace')

234

In [156]:
#Connect to postgres database
host = 'localhost'
database  = 'population'
user = 'postgres'
port = '5432'

#Connect to the PostgreSql server
conn = psycopg2.connect(host=host,
                         database=database,
                         user=user,
                         password=password,
                         port=port)
# Set isolation level to autocommit
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)

cursor = conn.cursor()

In [164]:
cursor.execute('SELECT "Continent" FROM population_data\
               LIMIT 5')

rows = cursor.fetchall()

for row in rows:
    print(row)

('Asia',)
('Europe',)
('Africa',)
('Oceania',)
('Europe',)

In [165]:
#Close all sessions
engine.dispose()
cursor.close()
conn.close()